<form method="POST">
    <div class="mb-3">
        <label for="aaa" class="form-label">Bạn sẽ làm gì</label>
        <input type="text" name="todos" class="form-control" id="aaa">
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>